#article-container img {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
    /*考虑浏览器兼容性：兼容 Chrome, Safari, Opera */
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
}
.category-list-child {
    /* display: none; */
}
#footer {
	display: none;
}
#page-header.not-top-img #nav {
    background: rgba(255,255,255,0.3);
}

#body-wrap {
	background: linear-gradient(40.55deg, #93a5cf 0%, #E4efe9 100%);
}

.post-reward {
    margin-top: 0px;
}

#article-container a {
    text-decoration: underline;
}